:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #756157;
  --color-brown2: #615048;
  --color-brown3: #756257;
  --color-blue: #82b3d3;
  --color-blue2: #83b3d3;
  --color-blue3: #68a2ca;
  --color-gray: #242424;
  --color-beige: #e6e6e6;
  --color-green: #7db54f;
  --color-green2: #6c9e42;
  --color-light-beige: #f2f2f2;
  --color-dark-blue: #3f5e72;
  --color-button-disabled: #e5e5e5;
  --color-error-red: #ff5757;
  --color-error-black: #333333;

}

/* Шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Отключает отображение .visually-hidden  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общий класс для кнопок */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
  padding: 8px;
}

.button:hover {
  background-color: var(--color-blue3);
  color: var(--color-white);
}

.button:focus {
  background-color: var(--color-blue3);
  color: var(--color-white);
}

.button:active {
  background-color: var(--color-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  opacity: 0.1;
  cursor: default;
}


/* Общий класс для кнопок-ссылок */
.button-brown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-brown);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.button-brown:hover {
  background-color: var(--color-brown2);
  color: var(--color-white);
}

.button-brown:focus {
  background-color: var(--color-brown2);
  color: var(--color-white);
}

.button-brown:active {
  background-color: var(--color-brown);
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  opacity: 0.1;
  cursor: default;
}

/* Общий класс для нажатых кнопок */
.button-card-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.button-card-current:hover {
  background-color: var(--color-green2);
  color: var(--color-white);
}

.button-card-current:focus {
  background-color: var(--color-green2);
  color: var(--color-white);
}

.button-card-current:active {
  background-color: var(--color-green);
  color: rgba(255, 255, 255, 0.3);
}

.button-card-current:disabled {
  opacity: 0.1;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--color-light-beige);
  color: var(--color-black);
}

.main-container {
  flex-grow: 1;
  background-color: var(--color-white);
}

/*Шапка*/
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--color-white);
  align-items: center;
}

/* Навигация левая */
.navigation-left {
  display: flex;
  margin: 0;
  padding: 0;

  position: relative;
}

.page-header-logo-link {
  display: flex;
  position: absolute;
}

/* Состояние для логотипа */
.page-header-logo-link:hover .page-header-logo {
  filter: drop-shadow(0px 5px 8px rgba(131, 179, 211, 0.6));
}

.page-header-logo-link:active {
  opacity: 0.2;
}

.navigation {
  margin: 0 0 0 170px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

/* Состояние для навигации */
.navigation-link:hover {
  cursor: pointer;
  color: var(--color-brown3);
}

.navigation-link:active {
  opacity: 0.2;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: var(--color-brown3);
}

/* Навигация правая */
.navigation-right {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  align-items: center;
  flex-shrink: 0;

}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 64px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;

  position: relative;
}


.circle-number {
  position: absolute;
  display: flex;
  min-height: 20px;
  min-width: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  top: 11px;
  right: 4px;
}

/* Состояние правой навигации */
.navigation-user-link .navigation-icon:hover {
  cursor: pointer;
  color: var(--color-brown3);
}

.navigation-user-link:active {
  opacity: 0.2;
}

.page-header-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  max-width: 160px;
  min-width: 160px;
  padding: 8px 34px;
  margin: 0 0 0 20px;
}

/*Херо-блок*/
.hero {
  background-color: var(--color-blue);
  color: var(--color-black);
  background-image: url("../images/index/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

/*Преимущество*/
.advantages-container {
  max-width: 655px;
  padding: 69px 0;
  margin: 0 auto;
  text-align: center;

  position: relative;
}

.advantages-container::after {
  content: "";
  display: block;
  background: url(../images/index/step.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 57px;
  position: absolute;
  right: 0;
  bottom: 261px;
  left: -272px;
  margin: 0;
  padding: 0;
}

.advantages-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  min-height: 72px;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

/* Список приемуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 20px 85px;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.advantages-item-blue {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.reverse {
  flex-direction: row-reverse;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 62px 0;
  padding: 0;

  position: relative;
}

.advantages-title::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: var(--color-black);
  opacity: 0.3;
}

.advantages-item-blue .advantages-title::before {
  background-color: var(--color-white);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Дополнение*/
.addition-container {
  width: 505px;
  margin: 64px auto;
  text-align: center;
}

.addition-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  min-height: 72px;
}

.addition-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

/* Список дополнений */
.addition-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.addition-item-svg-house {
  display: block;
  background-image: url(../images/index/house.svg);
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.addition-item-svg-food {
  display: block;
  background-image: url(../images/index/food.svg);
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.addition-item-svg-souvenir {
  display: block;
  background-image: url(../images/index/souvenir.svg);
  width: 75px;
  height: 76px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}


.addition-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 20px 85px;
}


.addition-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.addition-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding: 0;
}

.addition-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*Поиск гостиниц*/
.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-container {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 378px;
  padding: 8px 50px;
}

/*Подписка*/
.subscribe {
  color: var(--color-black);
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-bacground {
  background-color: var(--color-blue);
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

/* Подписка форма */
.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--color-light-beige);
  font-family: inherit;
  width: 100%;
  /* border: 3px solid transparent; */
  border: none;
  padding: 11px 20px;
  border-radius: 4px 0 0 4px;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

/* Состояние input*/
.subscribe-field:hover {
  background-color: var(--color-beige);
}

.subscribe-field:focus {
  background-color: var(--color-beige);
  border: 3px solid var(--color-blue2);
}

.subscribe-field:active {
  background-color: var(--color-light-beige);
  color: var(--color-black);
  border: 3px solid var(--color-beige);
}

.subscribe-field:not(:placeholder-shown) {
  background-color: var(--color-light-beige);
  color: var(--color-black);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.subscribe-field:disabled {
  opacity: 0.1;
  cursor: default;
}

.subscribe-button {
  cursor: pointer;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  max-width: 232px;
  padding: 5px 50px;
  border-radius: 0 4px 4px 0;
  border: 3px solid transparent;
}

/*Подвал*/
.page-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 70px 30px 70px;
  background-color: var(--color-white);
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 50px;
  align-items: center;
  list-style: none;
}

.footer-social-link {
  display: flex;
  min-width: 47px;
  min-height: 40px;
  text-align: center;
  color: var(--color-blue2);
  text-decoration: none;

  position: relative;
}

/* Состояния иконок соцсети */
.footer-social-link:hover {
  color: var(--color-blue3);
}

.footer-social-link:focus {
  color: var(--color-blue3);
}

.footer-social-link:active {
  color: var(--color-blue3);
  opacity: 0.3;
}

.footer-social-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-contact {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-blue);
  display: flex;
  align-items: center;
}

.footer-contact-phone {
  display: block;
  max-width: 332px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

/* Состояния для номера телефона */
.footer-contact-phone:hover {
  color: var(--color-brown)
}

.footer-contact-phone:focus {
  color: var(--color-brown);
}

.footer-contact-phone:active {
  color: var(--color-brown);
  opacity: 0.3;
}

.footer-developer-logo {
  display: flex;
}

.footer-developer-logo-link {
  min-width: 115px;
  min-height: 34px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;

  position: relative;
}

/* Состояния логотипа .html academy */
.footer-developer-logo-link:hover {
  color: var(--color-brown);
}

.footer-developer-logo-link:focus {
  color: var(--color-brown);
}

.footer-developer-logo-link:active {
  color: var(--color-brown);
  opacity: 0.3;
}

.footer-developer-logo-svg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*Фильтры*/
.filters {
  padding: 35px 70px 70px 70px;
  background-color: var(--color-blue);
  background-image: url("../images/catalog/filtr-backgraund.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filters-breadcrumbs-container {
  min-height: 107px;
  margin-bottom: 40px;
}

.filters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-white);
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  display: flex;
  color: var(--color-white);
  align-items: center;
}

.breadcrumbs-link:after {
  content: "";
  position: relative;
  width: 7px;
  height: 10px;
  background-image: url(../images/catalog/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin: 0 0 0 10px;
}


/* Состояния для breadcrumbs*/
.breadcrumbs-link:hover {
  color: rgba(250, 250, 250, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotel-filters {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: var(--color-white);
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 160px;
}

.catalog-filter-group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  list-style: none;
  color: var(--color-white);
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-white);
  background-position: center;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  content: "";
  background-image: url(../images/catalog/check.svg);
  position: absolute;
  width: 12px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  content: "";
}

.control:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus+.control-mark {
  outline: 3px solid var(--color-blue2);
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:disabled+.control-mark {
  opacity: 0.1;
  cursor: default;
}

.control-input[type="radio"]:focus+.control-mark {
  outline: 3px solid var(--color-blue2);
}

.catalog-filter-price-container {
  display: flex;
  gap: 70px;
  margin-left: auto;
}

.catalog-filter-price {
  min-width: 288px;
  background-color: transparent;
}

.catalog-filter-label {
  display: flex;
  gap: 2px;
  position: relative;
}

.range-input {
  padding: 12px 18px;
  background-color: var(--color-light-beige);
  border-color: transparent;
  border-radius: 4px 0 0 4px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  max-height: 48px;
}

.range-input-text {
  position: absolute;
  content: "";
  max-width: 17px;
  max-height: 24px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.range-input-right {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background-color: var(--color-beige);
}

.range-input:focus {
  background-color: var(--color-beige);
  outline: 3px solid var(--color-blue2);
}

.range-input:active {
  background-color: var(--color-light-beige);
  border: 2px solid var(--color-black);
  outline: none;
}

.range-input:disabled {
  opacity: 0.2;
  cursor: default;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin: 0;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 217px;
  background-color: var(--color-white);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  background-color: var(--color-white);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.range-toggle:focus {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  outline: 3px solid var(--color-blue2);
}

.range-toggle:active {
  background-color: var(--color-white);
  filter: drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.4));
  outline: 2px solid var(--color-blue2);
}

.range-toggle:disabled {
  opacity: 0.2;
  cursor: default;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  min-width: 191px;
}

/* Кнопки фильтры */
.choice-button {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.reset-button {
  cursor: pointer;
  margin: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  color: var(--color-white);
  border: none;
}

.reset-button:hover {
  background-color: transparent;
  outline: 2px solid var(--color-blue2);
  color: rgba(250, 250, 250, 0.1);
}

.reset-button:focus {
  background-color: transparent;
  outline: 2px solid var(--color-blue2);
}


.reset-button:active {
  background-color: transparent;
  color: var(--color-white);
  opacity: 0.3;
}

.reset-button:disabled {
  opacity: 0.1;
  cursor: default;
}

/*Сортировка гостиниц*/
.catalog-container {
  padding: 50px 70px 60px 70px;
}

.catalog-hotel-sorting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
  min-height: 49px;
}

.catalog-hotel-sorting-found {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.sort-container {
  display: flex;
  gap: 70px;

}

.select-control {
  cursor: pointer;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 12px 40px 12px 18px;
  ;
  border: 2px solid var(--color-beige);
  border-radius: 4px;

  appearance: none;
  background: url(../images/catalog/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.select-control:hover {
  border-color: var(--color-blue3);
}

.select-control:focus {
  border-color: var(--color-blue3);
  outline: none;
}

.select-control:active {
  border-color: var(--color-dark-blue);
}

.select-control:disabled {
  opacity: 0.1;
  cursor: default;
}

.sort-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.sort-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid var(--color-beige);
  border-radius: 4px;
}

.sort-link:hover {
  border-color: var(--color-black);
}

.sort-link:focus {
  border-color: var(--color-blue3);
  outline: none;
}

.sort-link:active {
  border-color: var(--color-black);
}

.sort-link-current {
  border-color: var(--color-black);
}

/*Каталог*/
.product-catalog {
  padding: 0;
}

.product-catalog-container {
  margin: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-beige);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  display: grid;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid var(--color-beige);
  border-radius: 4px;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
}

.product-card-link {
  grid-column: 1/-1;
  text-decoration: none;
  margin-bottom: auto;
}

.product-card-img {
  display: block;
  width: 100%;
}

.product-card-title {
  color: var(--color-black);
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.product-card-price {
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px
}

.button-card {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px;
  border: none;
}

.button-card-current {
  padding: 8px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 9px 0 8px 0;
  background-color: var(--color-light-beige);
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.stars-icon {
  width: 18px;
  min-height: 17px;
}

/*Пагинация*/
.pagination {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background-color: var(--color-blue);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

.pagination-link:hover {
  background-color: var(--color-blue3);
  border: 1px solid var(--color-blue);
}

.pagination-link:focus {
  background-color: var(--color-blue3);
  border: 1px solid var(--color-blue);
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
}

.pagination-link-more:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
}

.pagination-link-more:focus {
  background-color: var(--color-white);
  color: var(--color-black);
}

.pagination-link-more:active {
  background-color: var(--color-white);
  color: var(--color-black);
}

.pagination-current {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-light-beige);
  color: var(--color-black);
}

.pagination-current:hover {
  background-color: var(--color-light-beige);
  color: var(--color-black);
  border: none;
}

.pagination-current:focus {
  background-color: var(--color-light-beige);
  color: var(--color-black);
}

.pagination-current:active {
  background-color: var(--color-light-beige);
  color: var(--color-black);
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  width: 717px;
  padding: 64px 70px;
  background-color: var(--color-white);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  min-height: 52px;
  min-width: 52px;
  display: flex;
  text-align: center;
  background-color: var(--color-light-beige);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  top: 64px;
  right: 52px;
}

.modal-close-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  width: 20px;
  margin: auto;
  color: var(--color-black);
}

.modal-close-button:hover {
  background-color: var(--color-beige);
}

.modal-close-button:focus {
  background-color: var(--color-beige);
  outline: 3px solid var(--color-blue2);
}

.modal-close-button:active {
  background-color: var(--color-beige);
  outline: none;
}

.modal-close-button:active .modal-close-button-icon {
  opacity: 0.3;
}

.modal-close-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.modal-content {
  min-width: 577px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.modal-content-form {
  display: flex;
  flex-direction: column;
}

.field-group-adults-children {
  display: flex;
}

.field-group:not(:last-child) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  max-height: 48px;
}

/* Input */
.field {
  width: 440px;
  cursor: pointer;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--color-light-beige);
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
}

.field:hover {
  background-color: var(--color-beige);
}

.field:focus {
  background-color: var(--color-beige);
  border: 3px solid var(--color-blue2);
}

.field:active {
  background-color: var(--color-light-beige);
  color: var(--color-black);
  border: 3px solid var(--color-black);
}

.field:placeholder-shown {
  color: var(--color-black);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.field:not(:placeholder-shown) {
  background-color: var(--color-light-beige);
  color: var(--color-black);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.field:disabled {
  opacity: 0.1;
  cursor: default;
}

.field-group-count {
  display: flex;
}

/* labelv*/
.field-group-title {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.field-number {
  padding: 2px 2px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-light-beige);
  border: none;
  width: 31px;
  height: 48px;
  text-align: center;
}

.calendar-icon {
  position: relative;
}

.calendar-icon::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/index/calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
}

/* Кнопки + и -*/
.field-group-button {
  cursor: pointer;
  display: flex;
  width: 40px;
  border-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

/* Дети + 0 -*/
.field-group-count .plus {
  border-radius: 0 4px 4px 0;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  text-align: center;

}

.children-plus-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  width: 20px;
  padding: 0 3px 0 3px;
  margin: auto;
  color: rgba(0, 0, 0, 0.3);
}

.plus:hover .children-plus-icon {
  color: var(--color-black);
}

.plus:focus .children-plus-icon {
  outline: 3px solid var(--color-blue2);
  border-radius: 4px;
}

.plus:active .children-plus-icon {
  color: rgba(0, 0, 0, 0.3);
}

.plus:disabled .children-plus-icon {
  opacity: 0.1;
}

.field-group-count .minus {
  border-radius: 4px 0 0 4px;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  text-align: center;
  margin-left: 46px;
}

.children-minus-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 0 3px 0 3px;
  margin: auto;
  color: rgba(0, 0, 0, 0.3);
}

.minus:hover .children-minus-icon {
  color: var(--color-black);
}

.minus:focus .children-minus-icon {
  outline: 3px solid var(--color-blue2);
  border-radius: 4px;
}

.minus:active .children-minus-icon {
  color: rgba(0, 0, 0, 0.3);
}

.minus:disabled .children-minus-icon {
  opacity: 0.1;
}

/* Взрослые + 0 -*/
.field-group-count .plus {
  border-radius: 0 4px 4px 0;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  text-align: center;

}

.adults-plus-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  width: 20px;
  padding: 0 3px 0 3px;
  margin: auto;
  color: rgba(0, 0, 0, 0.3);
}

.plus:hover .adults-plus-icon {
  color: var(--color-black);
}

.plus:focus .adults-plus-icon {
  outline: 3px solid var(--color-blue2);
  border-radius: 4px;
}

.plus:active .adults-plus-icon {
  color: rgba(0, 0, 0, 0.3);
}

.plus:disabled .adultsn-plus-icon {
  opacity: 0.1;
}

.field-group-count .minus {
  border-radius: 4px 0 0 4px;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  text-align: center;
  margin-left: 46px;
}

.adults-minus-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 0 3px 0 3px;
  margin: auto;
  color: rgba(0, 0, 0, 0.3);
}

.minus:hover .adults-minus-icon {
  color: var(--color-black);
}

.minus:focus .adults-minus-icon {
  outline: 3px solid var(--color-blue2);
  border-radius: 4px;
}

.minus:active .adults-minus-icon {
  color: rgba(0, 0, 0, 0.3);
}

.minus:disabled .adults-minus-icon {
  opacity: 0.1;
}




/* Кнопка найти */
.find-button {
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 577px;
  min-height: 60px;
  padding: 18px;
}

/* Отключает стрелочкиу type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Тултип*/
.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.tooltip-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
}

.tooltip-icon {
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  cursor: pointer;
  opacity: 0.6;
}

.tooltip-text {
  background-color: var(--color-error-black);
  color: var(--color-white);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: absolute;
  bottom: 70px;
  width: 256px;
  display: none;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/index/arrow-tooltip.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Ошибка заезда*/
.error-arrival {
  position: absolute;
  content: "";
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-error-red);
  bottom: -55%;
  left: 20px;
}

/* Ошибка выезда*/
.error-departure {
  position: absolute;
  content: "";
  color: rgba(0, 0, 0, 0.25);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-error-black);
  bottom: -55%;
  left: 20px;
}

/* Отключает ошибку*/
.error-close {
  display: none;
}

/* Отключает модальное окно*/
.modal-container-close {
  display: none;
}
