:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #756157;
  --color-blue: #82b3d3;
  --color-gray: #242424;
  --color-beige: #e6e6e6;
  --color-green: #7db54f;
  --color-light-beige: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Отключает отображение .visually-hidden  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общий класс для кнопок */
.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--color-light-beige);
  color: var(--color-black);
}

.main-container {
  flex-grow: 1;
  background-color: var(--color-white);
}

/*Шапка*/
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--color-white);
  align-items: center;
}

/* Навигация левая */
.navigation-left {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-header-logo-link {
  display: flex;
  position: absolute;
}

.navigation {
  margin: 0 0 0 170px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

/* Навигация правая */
.navigation-right {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.page-header-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
  border-radius: 4px;
  background-color: var(--color-brown);
  color: var(--color-white);
}

/*Херо-блок*/
.hero {
  background-color: var(--color-blue);
  color: var(--color-black);
  background-image: url("../images/index/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;

  position: relative;
}

.hero ::after {
  content: "";
  display: block;
  background: url(../images/index/step.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 57px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

/*Преимущество*/
.advantages-container {
  max-width: 655px;
  margin: 69px auto;
  text-align: center;
}

.advantages-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

/* Список приемуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 20px 85px;
}

.advantages-item-blue {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 62px 0;
  padding: 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Дополнение*/
.addition-container {
  width: 505px;
  margin: 64px auto;
  text-align: center;
}

.addition-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.addition-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

/* Список дополнений */
.addition-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.addition-item-svg-house {
  display: inline-block;
  background-image: url(../images/index/house.svg);
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 30px auto;
}

.addition-item-svg-food {
  display: inline-block;
  background-image: url(../images/index/food.svg);
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 30px auto;
}

.addition-item-svg-souvenir {
  display: inline-block;
  background-image: url(../images/index/souvenir.svg);
  width: 75px;
  height: 72px;
  /*обрезается сувенир*/
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 30px auto;
}


.addition-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 20px 85px;
}


.addition-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.addition-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding: 0;
}

.addition-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*Поиск гостиниц*/
.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-container {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: var(--color-brown);
  color: var(--color-white);
  text-decoration: none;
  margin: 0 auto;
  max-width: 378px;
  padding: 8px 50px;
  border-radius: 4px;
}

/*Подписка*/
.subscribe {
  color: var(--color-black);
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-bacground {
  background-color: var(--color-blue);
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

/* Подписка форма */
.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--color-light-beige);
  font-family: inherit;
  width: 100%;
  border: none;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  max-width: 232px;
  border: none;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/*Подвал*/
.page-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 70px 30px 70px;
  background-color: var(--color-white);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-link {
  position: relative;
  display: flex;
  min-width: 47px;
  min-height: 40px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.footer-social-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-contact {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-blue);
  text-align: center;
}

.footer-contact-phone {
  display: block;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.footer-developer-logo {
  display: flex;
}

.footer-developer-logo-link {
  position: relative;
  min-width: 115px;
  min-height: 34px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.footer-developer-logo-svg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*Фильтры*/
.filters {
  padding: 35px 70px 70px 70px;
  background-color: var(--color-blue);
  background-image: url("../images/catalog/filtr-backgraund.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filters-breadcrumbs-container {
  min-height: 107px;
  margin-bottom: 40px;
}

.filters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-white);
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  text-decoration: none;
}

.breadcrumbs-svg-home {
  display: inline-block;
  background-image: url(../images/catalog/home.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  color: #7db54f;
}

.breadcrumbs-svg-arrow {
  display: inline-block;
  background-image: url(../images/catalog/arrow.svg);
  width: 7px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-hotel-filters {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: var(--color-white);
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  min-width: 152px;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter-price-container {
  display: flex;
  gap: 70px;
  margin-left: auto;
}

.catalog-filter-price {
  min-width: 288px;
  background-color: transparent;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  min-width: 191px;
}

/* Кнопки фильтры */
.choice-button {
  margin: 0;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
}

.reset-button {
  margin: 0;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  color: var(--color-white);
  border: none;
}

/*Сортировка гостиниц*/
.catalog-container {
  padding: 50px 70px 60px 70px;
}

.catalog-hotel-sorting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
  min-height: 49px;
}

.catalog-hotel-sorting-found {
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.sort-container {
  display: flex;
  gap: 70px;

}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 14px 20px;
  border: 2px solid var(--color-beige);
  border-radius: 4px;
  appearance: none;
  background: url(../images/catalog/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.sort-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.sort-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid var(--color-beige);
  border-radius: 4px;
}

.sort-link-current {
  border-color: var(--color-black);
}

/*Каталог*/
.product-catalog {
  padding: 0;
}

.product-catalog-container {
  margin: 0;
  margin-bottom: 80px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid var(--color-beige);
  border-radius: 4px;
}

.product-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.product-card-link {
  grid-column: 1/-1;
  text-decoration: none;
  margin-bottom: auto;
}

.product-card-img {
  display: block;
  width: 100%;
}

.product-card-title {
  color: var(--color-black);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.product-card-price {
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 26px;
  text-align: center;
  background-color: var(--color-brown);
  color: var(--color-white);
  border-radius: 4px;
}

.button-card {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
}

.button-card-current {
  background-color: var(--color-green);
  color: var(--color-white);
  border-color: var(--color-green);
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
  background-color: var(--color-light-beige);
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

/*Пагинация*/
.pagination {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background-color: var(--color-blue);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 4px;
}

.pagination-link-more {
  background-color: var(--color-white);
  color: var(--color-black);
}

.pagination-current {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-light-beige);
  color: var(--color-black);
}
